@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    display: block;
    background: url(img/background.jpg) center center / cover no-repeat fixed;
    padding: 0;
}

/* Home Link & Reset */
nav.navbar {
    min-height: 32px;
}

a.navbar-brand {
    font-size: 1.25em;
    color: #fff;
    background-color: #404040;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #404040;
    height: 32px;
}

a.navbar-brand:hover {
    color: #404040;
    background-color: #fff;
}

/* Content */
.area {
    padding-bottom: 0;
    margin: 0 0 10px;
    cursor: crosshair;
}

/* Ghost Game Title */
.titleFont {
    font-size: 2.2em;
    color: #fff;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000;
}

/* Instruction */
.messageFont {
    font-size: 1.2em;
    color: #fff;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000;
}

#startButton {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 8px 2px #c5c5c5;
    cursor: pointer;
}

#ghost {
    position: absolute;
    opacity: 0.7;
    visibility: hidden;
}

#ghostFinal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    color: #fff;
}

@media screen and (max-width: 550px) {
    /* Ghost Game Title */
    .titleFont {
        font-size: 2em;
    }
    /* Instruction */
    .messageFont {
        font-size: 1em;
    }
}

@media screen and (max-width: 380px) {
    /* Home Link & Reset */
    a.navbar-brand {
        font-size: 1em;
    }
    /* Ghost Game Title */
    .titleFont {
        font-size: 1.8em;
    }
}
